@font-face {
	font-family: 'Ostrich';
	src: url(../../fonts/OstrichSans.woff) format('woff');
}

body, canvas, div {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none; 
}
body{
	font-family: Ostrich;

    margin:0;
    overflow: hidden;
    background:#000;
}

#canvas_container {
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	margin:auto;
	width: 1000px;
	height: 550px;
}
#canvas_container > div, #canvas_container > canvas{
	position: absolute;
	display: block;
}


.button {
	width:200px;
	text-align: center;
	color:#000;
	left:400px;
	background-color: #fff;
	padding: 0px 0;
	cursor: pointer;
	font-size: 30px;

	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.button:hover {
	color:#555;
	letter-spacing: 0.1em;
}

#play.button {
	height:80px;
	top:260px;
	font-size: 65px;
}
#play.button:hover {
	padding: 10px 0;
	top:250px;
}

#fund.button{
	top:355px;
	height:40px;
}
#fund.button:hover{
	padding: 5px 0;
	top:350px;
}

#free.button{
	top:405px;
	height:40px;
}
#free.button:hover{
	padding: 5px 0;
	top:400px;
	letter-spacing: 0.08em;
}

#cred.button{
	top:455px;
	height:40px;
}
#cred.button:hover{
	padding: 5px 0;
	top:450px;
}