body {
	margin:0;
	background: #eee;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
}

#header {
	/*background: #3B5998;*/
	background: #000;
	width:100%;
	height:80px;
	position: fixed;
	top:0;
	z-index: 1;
}
#header_content {
	width:800px;
	height:40px;
	background: url(../img/header.png);
	margin:20px auto;
}

#footer {
	margin: 30px 0 40px 0; 
}
#footer_icon {
	margin:0 auto;
	width:50px; height:50px;
	background: url(../img/footer.png);
}
#footer_copy {
	color: #aaa;
	font-size: 15px;
	margin-top:10px;
	text-align: center;
}

#timeline {
	width:800px;
	min-height:100%;
	margin: 0 auto;
	margin-top:100px;
}
#timeline > div{
	background: #fff;
	margin-bottom:20px;
}

#poster{
	width:100%; height:70px;
	position:relative;
	padding-left:20px; padding-top:20px;
	overflow:hidden;
}
#poster_icon {
	border-radius:25px;
	width:50px;height:50px;float:left;
	margin-right:10px;
}
#poster_info {
	height:40px;
	margin-top:5px;
	float:left;
}
#poster_info_name{
	font-size:18px
}
#poster_info_date{
	font-size:14px; color:#aaa
}

.parallax_post #layers {
	width:100%;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	background: #000;
	position: relative;
	overflow: hidden;
}
.parallax_post #layers > div{
	position: absolute;
	top:0;
	width:100%;height:100%;
	background-repeat:no-repeat;
}
.conversation_post #convo {
	padding: 25px;
	padding-top: 0;
	font-size:25px;
}
.conversation_post #convo span{
	color: #aaa;
}
.video_post #video {
	width:100%; height:400px;
	position: relative;
	cursor: pointer;
}
.video_post #video > div{
	position: absolute;
}
.video_post #video_bg {
	width:100%; height:100%;
	background-attachment: fixed;
	background-color: #000;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.video_post #video_cctv {
	width:100%; height:100%;
	background-image: url(../img/cctv.png);
}
.video_post #video_button {
	background-image: url(../img/play_small.png);
	width:150px; height:150px;
	left:325px; top:125px;
}
.video_post:hover #video_button {
	background-position: -150px;
}
