@font-face {
	font-family: 'Raleway';
	src: local('Raleway'), url(../assets/fonts/Raleway-Regular.ttf) format('truetype');
}

body {
	margin:0;
	background:#fff;
	font-family: Raleway;
	font-size: 20px;
}
#game {
	display:block;
	margin: 0 auto;
	border:none
}

/* the fold */
#the_fold{
	position:relative;
	width:100%;
	height:40px;
	overflow: hidden;
}
#the_fold div {
	position: absolute;
	top: 0;
}
#the_fold > div:nth-child(1), #the_fold > div:nth-child(2) {
	width: 0;
	height: 0;
	border-style: solid;
	margin: 0 auto;

}
#the_fold > div:nth-child(1) {

	left: -webkit-calc(50% - 40px);
	left: -moz-calc(50% - 40px);
	left: -ms-calc(50% - 40px);
	left: -o-calc(50% - 40px);
	left: calc(50% - 40px);

	border-width: 0 40px 40px 0;
	border-color: transparent #000 transparent transparent;
}
#the_fold > div:nth-child(2) {

	left: 50%;

	border-width: 0 0 40px 40px;
	border-color: transparent transparent transparent #000;
}

/* comments */
#feedback {
	width:700px;
	margin:0px auto;
}
#feedback textarea, #feedback input {
	width:100%;
	border:1px solid #bbb;
	padding:5px;
	font-size:20px;
	margin: 10px 0 25px 0;
	color: #000;
}
#feedback textarea{
	height:100px;
}
#send_feedback {
	width:300px;
	color:#fff;
	background: #000;
	margin:20px auto;
	text-align: center;
	padding:20px;
	border-radius: 100px;
	font-size: 20px;
	position: relative;
}
#send_feedback[sent=true]{
	background: #999;
}
#send_feedback[sent=false]{
	cursor: pointer;
}
#send_feedback[sent=false]:hover {
	top:-2px;
	background: #333;
}


/* newsletter */
#newsletter #newsletter_email {
  padding:10px; 
  font-family:Raleway;
  width:100%; 
  font-size:40px;
  border:0;
}
#newsletter #submit_button {
  background: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  border: 0;
  position: absolute;
  top: 15px;
  font-size: 25px;
  font-family: Raleway;
  border-radius: 30px;
  padding: 5px 15px;
  right: 0;
  cursor: pointer;
}


/* info */
#info{
	text-align: center;
	color: #ccc;
}
#info a{
	color:inherit;
	color: #666;
}
#info a:hover{
	color: #000;
}