@font-face {
	font-family: 'Ostrich';
	src: url(../fonts/OstrichSans.woff) format('woff');
}

body {
	margin:0;
	background:#000;

	font-size: 20px;
	overflow:hidden;

	width:100%; height:100%;

	font-family: Ostrich;
	font-size: 30px;

}
body, canvas, div {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none; 

}


/*** GAME ***/
#container {
	cursor: none;
	position: absolute;
	background: #000;
	width:100%; height:100%;

}
#container > div{
	position: absolute;
	width:100%; height:100%;
}
#container > div > canvas{
	
	position: absolute;
	display: block;
	
	top:0; left:0; right:0; bottom:0;
	margin:auto;

	/*width:100%; height:100%;*/
}

/*** BUTTONS ***/
.button {
	border: 1px solid #fff;
	text-align: center;
	background: #000; color: #fff;
	padding: 10px 10px 5px 10px;
	cursor: pointer;
}
.button:hover {
	background: #fff;
	color:#000;
	border-color: #000;
}
.button_container {
	overflow: hidden;
}
.button_container > div {
	float:left;
	margin-right:2px;
}

/*** DEBUG ***/
#ui_container > div{
	position: absolute;
}
#pause {
	width:60px;
	bottom: 10px; right:10px;
}
#skip_level {
	width:100px;
	bottom: 10px; right:100px;
}
#fps_counter {
	color:#fff;
	padding:15px 10px;
	width:80px;
	text-align: right;
	top:0;
	right:0;
}

/*** PAUSE ***/
#pause_menu {
	position: absolute;
	width:100%; height:100%;
	display: none;
	background: rgba(0,0,0,0.5);
}
#pause_menu_2 {
	position: absolute;
    width:100%; height:350px;
    top:0; left:0; right:0; bottom:0;
    margin:auto; background:rgba(0,0,0,0.8)
}
#pause_menu_3 {
	width:600px; margin:30px auto; color:#fff;
}
#level_select > div[selected=true] {
	color:#000;
	background: #fff;
}
.social_big{
	background: url(img/share_big.png);
	width:125px; height:50px;
}
.social_big#tweet{ background-position: 0px 0px; }
.social_big#tweet:hover{ background-position: 0px -50px; }
.social_big#facebook{ background-position: 0px -100px; }
.social_big#facebook:hover{ background-position: 0px -150px; }
