body{
	margin:0;
	font-family: sans-serif;
	font-size: 25px;
	font-weight: 100;
	overflow: hidden;
	background: #000;
}

/*** VIEWS ***/
#views{
	position: absolute;
	width:100%;
	height:calc(100% - 50px);
}
#views > iframe, #views > textarea{
	display: none;
	width:100%; height:100%;
	border: 0;
}
#views > iframe[selected], #views > textarea[selected]{
	display: block;
}
#views > textarea{
	font-family: monospace;	
	font-size: 14px;
	background: #334;
	padding: 30px;
	color:#fff;
	font-weight: 100;
}
#views > #view_map{
	font-size: 20px;
	letter-spacing: 10px;
}

/*** TABS ***/
#tabs{
	position: absolute;
	width:100%; height:50px;
	bottom:0;
	overflow: hidden;
	background:#000;
}
#tabs > div{
	width:100px; height:30px;
	padding:10px;
	color:#fff;
	border-right:1px solid #fff;
	float:left;
	cursor: pointer;
}
#tabs > div:hover{
	background: #333;
	color:#fff;
}
#tabs > div[selected]{
	background: #fff;
	color:#000;
	border-right:1px solid #000;
}
