body, canvas, div {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none; 
}
body{
    margin:0;
    overflow: hidden;
    background:#000;
}