@font-face {
	font-family: 'Ostrich';
	src: url(../fonts/OstrichSans.woff) format('woff');
}

body, canvas, div {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none; 
}
body{
	font-family: Ostrich;
	font-size: 30px;
	letter-spacing: 1px;

    margin:0;
    overflow: hidden;
    background:#000;
}
a {
	text-decoration: none;
}

#canvas_container {
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	margin:auto;
	width: 1000px;
	height: 550px;
}
#canvas_container > div, #canvas_container > canvas{
	position: absolute;
	display: block;
}


.button {
	width:200px;
	text-align: center;
	color:#000;
	left:400px;
	background-color: #fff;
	padding: 0px 0;
	cursor: pointer;
	font-size: 30px;
	line-height: 46px;

	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.button:hover {
	color:#555;
	letter-spacing: 0.1em;
}

#play.button {
	height:80px;
	top:260px;
	font-size: 65px;
	line-height: 90px;
}
#play.button:hover {
	padding: 10px 0;
	top:250px;
}

#fund.button{
	top:355px;
	height:40px;
}
#fund.button:hover{
	padding: 5px 0;
	top:350px;
	letter-spacing: 0.07em;
}

#uncopyright.button{
	top:405px;
	height:40px;
}
#uncopyright.button:hover{
	padding: 5px 0;
	top:400px;
}

#credits.button{
	top:455px;
	height:40px;
}
#credits.button:hover{
	padding: 5px 0;
	top:450px;
}

/*#footer {
	width:100%;
	font-size:30px; letter-spacing:2px; line-height:35px;
	color:#fff;
	position:absolute; bottom:0px;
	text-align:center;
}
#footer a{
	color: #CC2727;
	text-decoration: underline;
}
#footer a:hover{
	color: #FF3333;
}*/

#campaign_embed{
	width: 1000px;
	height: 70px;
	position: absolute;
	bottom: 0;
	display: block;
	border:none;
	overflow: hidden;
}

/*** MODAL ***/

#modal_container {
	position: absolute;
	width:100%; height:100%;

	-webkit-transition: top 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out;
    -ms-transition: top 0.5s ease-in-out;
    -o-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
}
#modal_container[shown=true] {
	top:0%;
}
#modal_container[shown=false] {
	top:100%;
}
#modal_container_bg {
	position: absolute;
	width:100%; height:100%;
	background: rgba(0,0,0,0.5);

	top:-100%;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#modal_container[shown=true] > #modal_container_bg {
	top:0%;
	opacity: 1;
}
#modal_container[shown=false] > #modal_container_bg {
	top:-100%;
	opacity: 0;
}
#modal_container_content{
	position: absolute;
	width:800px;
	
	height:-webkit-calc(100% - 100px);
	height:-moz-calc(100% - 100px);
	height:-ms-calc(100% - 100px);
	height:-o-calc(100% - 100px);
	height:calc(100% - 100px);

	top:0px; left:0; right:0; bottom:0;
	margin:0 auto;
	color:#fff;
	background: #000;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;

	overflow-x: none;
	overflow-y: auto;
}
#close_button_container{
	position: absolute;
	width:800px;
	height:100px;
	background: #000;
	left:0; right:0; bottom:0;
	margin:auto;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
#close_button{
	cursor: pointer;
	position:absolute;
	left:60px; bottom:40px;
	width:678px;
	height:60px;
	border: 1px solid #fff;
	text-align: center;
	background: #000;
	color:#fff;
	font-size: 50px;
	line-height: 1.4em;
}
#close_button:hover{
	color: #000;
	background: #fff;
}
.dialog {
	padding:30px 40px 15px 40px;
	color:#fff;
}
.dialog span{
	color:#888;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: 100;
}
.dialog h1{
	line-height: 1em;
	font-size: 50px;
	margin:0;
	margin-bottom: 20px;
	text-align: center;
}
.dialog a{
	color: #CC2727;
	text-decoration: underline;
}
.dialog a:hover{
	color: #FF3333;
}

#back_this_game{
	background: #cc2727;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px 0;
	text-align: center;
	width: 400px;
	font-size: 50px;
	height: 40px;
	margin: 20px auto;
	letter-spacing: 3px;
}
#back_this_game:hover{
	background: #FF3333;
}
.social_big{
	background: url(img/share_big.png);
	width:125px; height:50px;
}
.social_big#tweet{ background-position: 0px 0px; }
.social_big#tweet:hover{ background-position: 0px -50px; }
.social_big#facebook{ background-position: 0px -100px; }
.social_big#facebook:hover{ background-position: 0px -150px; }


