body {
	margin:0;
	background:#000;

	font-family: sans-serif;
	font-size: 20px;
	overflow:hidden;

	width:100%; height:100%;
	cursor: none;

}
body, canvas, div {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none; 
}
#container {
	cursor: none;

	position: absolute;
	background: #000;
	width:100%; height:100%;

}
#container > div{
	position: absolute;
	width:100%; height:100%;
}

/*** GAME ***/
#container > div > canvas{
	
	position: absolute;
	display: block;
	
	top:0; left:0; right:0; bottom:0;
	margin:auto;

	/*width:100%; height:100%;*/
}
/*canvas#game{
	background: #BADA55;
}*/

/*** DIALOGUE ***/
#dialogue_box{
	position: absolute;
	width:300px;
	background: #fff;
	color:#000;
	padding:15px;

	bottom: 30px;
	left: -135px;

	-webkit-transform-origin: 155px 120%;
	-moz-transform-origin: 155px 120%;
	-ms-transform-origin: 155px 120%;
	transform-origin: 155px 120%;

	-webkit-transition: -webkit-transform 0.1s linear;
    -moz-transition: -moz-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    transition: transform 0.1s linear;

}
#dialogue_box[minimized=true]{
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
#dialogue_author{
	width:100%; height:25px;
	font-size: 15px;
	color: #bbb;
}
#dialogue_post{
	font-size: 20px;
}
#dialogue_tail{
	position: absolute;
	left: 155px;
	bottom: -30px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 20px solid #fff;
}

/*** DEBUG ***/
#ui_container > div{
	position: absolute;
}
#fps_counter {
	background: rgba(0,0,0,0.5);
	color:#fff;
	padding:10px;
	width:60px;
	text-align: right;
	height:20px;
	top:0;
	right:0;
}

/*** LOADING ***/
#loading_screen {
	width:100%; height:100%;
	background:#000;
	position:absolute;

	-webkit-transition: opacity 1.0s ease-in-out;
    -moz-transition: opacity 1.0s ease-in-out;
    -ms-transition: opacity 1.0s ease-in-out;
    -o-transition: opacity 1.0s ease-in-out;
    transition: opacity 1.0s ease-in-out;

}
#loading_info{}
#loading_bar {

	position: absolute;
	background: #000;
	width:100%; height:5px;

	top:0; left:0; right:0; bottom:0;
	margin:auto;

}
#loading_bar_white {

	position: absolute;
	background: #fff;
	height:100%;
	width:0%;
	
	-webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;

}
